@model IEnumerable<MusicApp2017.Models.Album>

@{
    ViewData["Title"] = "Details";
}
<div class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <button" class="navbar-toggle collapsed" data-toggle="collapse"
                     data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button">
            <a class="navbar-brand" href="#">Menu</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="active">
                    <a asp-action="Index" asp-controller="Albums">Albums</a>
                </li>
                <li class="active">
                    <a asp-action="Index" asp-controller="Artists">Artists</a>
                </li>
                <li class="active">
                    <a asp-action="Index" asp-controller="Genres">Genres</a>
                </li>
            </ul>
        </div>
    </div>
</div>
@if (Model.Any() == false)
{
    <h2>No information have been recorded for this artist.</h2>
    <a asp-action="Index">Artist List</a>
}
else
{
    <h3>@Model.First().Artist.Name</h3>
    @if (Model.First().Artist.Bio != null)
    {
        <h4>Bio:</h4>
        <p>@Model.First().Artist.Bio</p>
    }
    <table class="table">
        <thead>
            <tr>
                <th>
                    Album @Html.DisplayNameFor(model => model.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Genre)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <a asp-action="Details" asp-controller="Albums" asp-route-id="@item.AlbumID">
                            @Html.DisplayFor(modelItem => item.Title)
                        </a>
                    </td>
                    <td>
                        <a asp-action="Details" asp-controller="Genres" asp-route-id="@item.GenreID">
                            @Html.DisplayFor(modelItem => item.Genre.Name)
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
<p>
<a asp-action="Edit" asp-route-id="@Model.First().ArtistID">Edit</a> |
<a asp-action="Index">Artist List</a>
</p>
}
