@model MusicApp2017.Models.Album
@using MusicApp2017.Models
@using Microsoft.AspNetCore.Identity
@inject UserManager<ApplicationUser> UserManager
@inject MusicDbContext context

@{
    ViewData["Title"] = "Details";
}
<div class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <button" class="navbar-toggle collapsed" data-toggle="collapse"
                     data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button">
            <a class="navbar-brand" href="#">Menu</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="active">
                    <a asp-action="Index" asp-controller="Albums">Albums</a>
                </li>
                <li class="active">
                    <a asp-action="Index" asp-controller="Artists">Artists</a>
                </li>
                <li class="active">
                    <a asp-action="Index" asp-controller="Genres">Genres</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<h3>Album Details</h3>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title):
        </dt>
        <dd>
            @Model.Title
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Artist):
        </dt>
        <dd>
            @Model.Artist.Name
        </dd>
        @if (Model.Artist.Bio != null)
        {
            <dt>
                @Html.DisplayNameFor(model => model.Artist.Bio):
            </dt>
            <dd>
                @Model.Artist.Bio
            </dd>
        }
        <dt>
            @Html.DisplayNameFor(model => model.Genre):
        </dt>
        <dd>
            @Model.Genre.Name
        </dd>
        @if(Model.GetRating(context) != 0)
        { 
        <dt>
            Rating:
        </dt>
        <dd>
            @Model.GetRating(context) out of 5
        </dd>
        }
    </dl>
</div>
@if (User.Identity.IsAuthenticated)
{
<hr/>
@await Html.PartialAsync("Rate")
}
else
{
    <a asp-controller="Account" asp-action="Login">Log in to Rate Album</a>
}
<div>
    <a asp-action="Edit" asp-route-id="@Model.AlbumID">Edit</a> |
    <a asp-action="Index">Album List</a>
</div>
